<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>sammy</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="" rel="icon">
  <link href="" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}">

  <!-- Template Main CSS File -->
  <!-- <link href="assets/css/style.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{{ url_for('static', filename='assets/img/Sammy waiyaki pp 6.jpg') }}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index1.html">Samwel Waiyaki</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul >
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
          
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center py align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Samwel Maroa Waiyaki</h1>
      <p>I'm a <span class="typed" data-typed-items="Data Scientist, Data Analyst, Business Intelligence specialist, NLP specialist"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Data scientist with 4 years of experience and familiar with designing and implementing projects, gathering, cleaning, and organizing data for use by technical and non-technical personnel. I have advanced mastery of statistical, algebraic, calculus, and other analytical techniques for data manipulation.</p>
          <p>I am an organized, motivated, and diligent with significant background in Data Analysis, Machine learning, Business Intelligence and programming. Moreover, I am proficient to an advanced level in using Python, R, SPSS, MS Excel, Power BI, Tableau, and SQL.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{{ url_for('static', filename='assets/img/Sammy waiyaki pp 6.jpg') }}" class="img-fluid" alt="Data Scientist">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Data Scientist &amp; BI Specialist.</h3>
        
            <div class="row">
              <div class="col-lg-10">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bsc. Mathematics (Statistics) &amp; Computer Science </span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>samwelmaroawaiyaki01@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+254 713 645965</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Nairobi, Kenya</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Current Employer:</strong> <span>Telkom Kenya Ltd - Telecommunications</span></li>
                  </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong> from my freelance services</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="60" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Projects</strong> involving data science, machine learning, NLP and BI</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="165" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours Of Support</strong> to students and people transitioning to data science</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hard Workers</strong> I have colaborated in projects with</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>As a freelance and in Data Science role at the organizations I have worked in, the following are the core technical skills I have concentrated.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">Python <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">R <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SPSS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">STATA <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Descriptive Analysis <i class="val">95%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Hypotheses &amp; A/B testing <i class="val">95%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Time-series analysis<i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Pandas <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">NumPy <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Matplotlib, Seaborn, Plotly &amp; GGplot2 <i class="val">95%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Machine Learning (SciPy &amp; Scikit-learn) <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Deep Learning (TensorFlow &amp; Keras) <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Business Intelligence (Power BI &amp; Tableau) <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SQL Databases <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
       </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Samwel Waiyaki</h4>
              <p><em>Innovative and quality-driven Data Scientist with 3+ years of experience analyzing and developing user-centered data-driven solutions from initial concept to a final, consumable product.</em></p>
              <ul>
                <li>Nairobi, Kenya</li>
                <li>(+254) 713-645965</li>
                <li>samwelmaroawaiyaki01@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Data Science Specialization</h4>
              <h5>Jan 2022 - Current</h5>
              <p><em>Explore Data Science Academy, South Africa</em></p>
              <p>This is a 1-year long data science speciality course, that I enrolled to increase my knowledge in all data science aspects that includes building of data reports and dashboards, data analysis, and creating of optimal machine learning, and neural networks models. </p>
            </div><br>
            <div class="resume-item">
              <h4>BSc. Mathematics (Statistics) &amp; Computer Science</h4>
              <h5>2015 - 2019</h5>
              <p><em>Multimedia University of Kenya, Nairobi</em></p>
              <ul>
                <li>Second Class Upper-Division (GPA 3.4)</li>
              </ul>
              <p>Through this course, I gained critical computation knowledge and skills that have become relevant in my career as a data scientist.</p>
              <ul>
                <li>Calculus</li>
                <li>Linear Algebra</li>
                <li>Probability and Statistics</li>
                <li>Programming</li>
              </ul>
            </div><br>

            <div class="resume-item">
              <h4>Certifications</h4>
              <ul>
                <li>AWS Certified solutions Architect</li>
                <li>Hands-on Tableau for data science - Udemy</li>
                <li>Natural Language Processing - HSE University (coursera)</li>
                <li>Statistics with R - Udemy</li>
                <li>Applied Machine Learning with R - Udemy</li>
                <li>Deep Learning with Python - Simplilearn</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Data Scientist</h4>
              <h5>November 2021 - Present</h5>
              <p><em>Zalda Ltd + StepWise, Nairobi</em></p>
              <ul>
                <li>Building, optimizing, deploying and maintaining Machine Learning and Deep Learning solutions. </li>
                <li>Performing EDA on internal and external datasets to discover insights and offer recommendation for better decision making</li>
                <li>Performing data quality checks, cleaning and managing dataset for the organization</li>
                <li>Performing data analysis on historical data to get performance statistics on various aspects of the business</li>
                <li>Utilizing business Intelligence tools to produce reports and dashboards for the internal and external stakeholders of the company.</li>
                <li>Performing analysis on text data by applying NLP and NLU techniques such as sentiment analysis</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Data Science Intern</h4>
              <h5>Feb 2021 - Oct 2021</h5>
              <p><em>Zalego Academy, Nairobi</em></p>
              <ul>
                <li>Data Science technical instructor</li>
                <li>Responsible for development of data analysis training content</li>
                <li>Performing analysis on data to discover insight for the Academy</li>
                <li>Producing visualizations and reports for the Academy management</li>
                <li>Facilitating data science workshops and webinars</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Freelance Data Scientist/Analyst</h4>
              <h5>April 2018 - Current</h5>
              <p>As a freelance data scientist, I have helped my clients many of whom are researchers and students with the following</p>
              <ul>
                <li>Survey designs and data collection strategies</li>
                <li>Data cleaning, validation, and running reliability tests on the client data</li>
                <li>Performing statistical analysis on the data to discover patterns using SPSS, STATA, Python or R</li>
                <li>Performing time-series analysis</li>
                <li>Building and optimizing suppervised and unsupervised machine learning models for clients</li>
                <li>Building and optimizing deep learning models with TensorFlow and Keras for clients</li>
                <li>Helping clients in building business intelligence reports with Power BI and Tableau</li>
              </ul>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Machine Learning</li>
              <li data-filter=".filter-card">NLP</li>
              <li data-filter=".filter-web">Time-Series</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <h6 style="text-align: center;">Loan Approval ML Model</h6>
              <img src="{{ url_for('static', filename='assets/img/portfolio/Loan (2).jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/Loan.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <h6 style="text-align: center;">Stock Prices Forecasting Model</h6>
              <img src="{{ url_for('static', filename='assets/img/portfolio/stockprices (1).png') }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/stockprices (1).png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <h6 style="text-align: center;">Customer Churn Prediction</h6>
              <img src="{{ url_for('static', filename='assets/img/portfolio/customer_churn (1).png') }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/customer_churn (1).png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <h6 style="text-align: center;">Sentiment Analyser Model</h6>
              <img src="{{ url_for('static', filename='assets/img/portfolio/sentiment_analysis (1).png') }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/sentiment_analysis (1).png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <h6 style="text-align: center;">Sales Forecasting Model</h6>
              <img src="{{ url_for('static', filename='assets/img/portfolio/sales_forecast (1).png') }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/sales_forecast (1).png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <h6 style="text-align: center;">House Price Prediction Model</h6>
              <img src="{{ url_for('static', filename='assets/img/portfolio/house_price (1).jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/house_price (1).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <h6 style="text-align: center;">Fake News Detector Model</h6>
              <img src="{{ url_for('static', filename='assets/img/portfolio/fakenews (1).png') }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/fakenews (1).png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <h6 style="text-align: center;">Spam Email Detector Model</h6>
              <img src="{{ url_for('static', filename='assets/img/portfolio/spam_detector (1).png') }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/spam_detector (1).png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <h6 style="text-align: center;">Predicting safaricom Stock Prices with LSTM</h6>
              <img src="{{ url_for('static', filename='assets/img/portfolio/safaricom (1).png') }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/safaricom (1).png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>I offere the following freelance services as a data science</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Machine Learning Modeling</a></h4>
            <p class="description">I have the skills and expertise that have used to build higly optimized machine learning and deep learning models for my clients. I have deeper mastery of python and R programming which are core languages for data science</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="">Data cleaning and quality assurance</a></h4>
            <p class="description">Quality data is the basis for reliable models and reliable results. I help my clients in performing data quality checks and cleaning form both quantitative and qualitative data</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">Statistical Data Analysis</a></h4>
            <p class="description">Statistics is a critical tool for summarizing, insight generation, and infering findings to sampled population. I help my clients in getting information from data by carefully applying descriptive and inferential statistical techniques</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="title"><a href="">Time-Series Analysis</a></h4>
            <p class="description">Time series analysis generates useful information and actionable insight from time-dependent data. I am proud to have helped some of my clients in building accurate and reliable time series forecasting models with less than 5% forecasting errors </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title"><a href="">Sentiment Analysis (NLP/NLU)</a></h4>
            <p class="description">Unstructured text forms the largest percentage of world's data volume. I have helped some of my clients analyze text (customer reviews) and build machine learning based sentiment analyzers to help understand customers views on the products offered</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title"><a href="">Business Intelligence</a></h4>
            <p class="description">Carefully chosen data visualizations are critical in communicating performance of different aspects of the business easily to stakeholders. Using MS PowerBI and Tableau, I have helped some of my clients to build easily understandable data reports, dashboards, and data stories</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Ongata Rongai, Kajiado North</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>samwelmaroawaiyaki01@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+254 713-645965</p>
              </div>

            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/store-contact-us.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>SamWaiyaki 2023</span></strong>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->

  <script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/typed.js/typed.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>